@page
@model ManagementStocMagazin.Pages.Iesiri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Iesiri</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iesire[0].CatalogProduse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iesire[0].Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iesire[0].DataIesirii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iesire[0].Cantitate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Iesire) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatalogProduse.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataIesirii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantitate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
